<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user">
    <!-- BusketDao -->
    <insert id="harumarket_userbasket_insert" parameterType="java.util.List">
        INSERT INTO harumarket_userbasket (
            haruMarket_user_index,
            harumarket_product_index,
            harumarket_productColor_index,
            harumarket_productSize_index,
            harumarket_userBasket_account
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
                ${item.haruMarket_user_index},
                ${item.harumarket_product_index},
                ${item.harumarket_productColor_index},
                ${item.harumarket_productSize_index},
                ${item.harumarket_userBasket_account}
            )
        </foreach>
    </insert>

    <select id="harumarket_userbasket_DistinctCount" parameterType="java.util.Map" resultType="int">
        SELECT count(*) FROM harumarket_userbasket
        <where>
            haruMarket_user_index=#{haruMarket_user_index} and
            harumarket_product_index=#{harumarket_product_index} and
            harumarket_productColor_index=#{harumarket_productColor_index} and
            harumarket_productSize_index=#{harumarket_productSize_index}
        </where>
    </select>

    <select id="harumarket_userbasket_DistinctCountDetail" parameterType="java.util.Map" resultType="java.util.HashMap">
        SELECT harumarket_userBasket_account,harumarket_userBasket_index FROM harumarket_userbasket
        <where>
            haruMarket_user_index=#{haruMarket_user_index} and
            harumarket_product_index=#{harumarket_product_index} and
            harumarket_productColor_index=#{harumarket_productColor_index} and
            harumarket_productSize_index=#{harumarket_productSize_index}
        </where>
    </select>

    <select id="harumarket_userbasket_count" parameterType="int" resultType="int">
        select
            count(*)
        from    harumarket_userbasket
        <where>
            haruMarket_user_index=${haruMarket_user_index}
        </where>
    </select>

    <insert id="harumarket_userbasket_insert2" parameterType="java.util.Map">
        INSERT INTO harumarket_userbasket (
        haruMarket_user_index,
        harumarket_product_index,
        harumarket_productColor_index,
        harumarket_productSize_index,
        harumarket_userBasket_account
        )
        VALUES(
            ${haruMarket_user_index},
            ${harumarket_product_index},
            ${harumarket_productColor_index},
            ${harumarket_productSize_index},
            ${harumarket_userBasket_account}
        )
    </insert>

    <update id="harumarket_userbasket_update" parameterType="java.util.Map">
        update harumarket_userbasket set
        harumarket_userBasket_account=${harumarket_userBasket_account},
        harumarket_userBasket_updateTime=now(),
        harumarket_userBasket_updateUserIndex=${haruMarket_user_index}
        <where>
            harumarket_userBasket_index=${harumarket_userBasket_index}
        </where>
    </update>
    
    <select id="basket_select" parameterType="int" resultType="java.util.Map">
        select
        t1.harumarket_userBasket_index
        ,   t2.harumarket_product_index
        ,	t2.harumarket_product_picture
        ,	t2.harumarket_product_name
        ,	t1.harumarket_productColor_index
        ,	(select harumarket_productColor_name from harumarket_productcolor where harumarket_productColor_index=t1.harumarket_productColor_index) harumarket_productColor_name
        ,	t1.harumarket_productSize_index
        ,	(select harumarket_productSize_name from harumarket_productsize where harumarket_productSize_index=t1.harumarket_productSize_index) harumarket_productSize_name
        ,	t1.harumarket_userBasket_account
        ,	(t1.harumarket_userBasket_account*t2.harumarket_product_salePrice) harumarket_product_salePrice
        from harumarket_userbasket t1
        inner join	harumarket_product t2 on t1.harumarket_product_index = t2.harumarket_product_index
        <where>
            t1.haruMarket_user_index = ${haruMarket_user_index};
        </where>
    </select>
    
    <delete id="basket_delete" parameterType="java.util.HashMap">
        delete from harumarket_userbasket
        <where>
            haruMarket_user_index=${haruMarket_user_index} and harumarket_userBasket_index=${harumarket_userBasket_index}
        </where>
    </delete>

    <!-- ChangeDao -->
    <select id="id_find" parameterType="int" resultType="java.util.HashMap">
        select
                t1.haruMarket_user_id
            ,   t1.haruMarket_user_pw
            ,   t1.haruMarket_user_postCode
            ,   t1.haruMarket_user_basicAddress
            ,   t1.haruMarket_user_detailAddress
        from    harumarket_user t1
        <where>
        t1.haruMarket_user_index=${haruMarket_user_index}
        </where>
    </select>
    <update id="change1" parameterType="java.util.HashMap">
        update harumarket_user set
            haruMarket_user_postCode=${haruMarket_user_postCode},
            haruMarket_user_basicAddress=#{haruMarket_user_basicAddress},
            haruMarket_user_detailAddress=#{haruMarket_user_detailAddress},
            haruMarket_user_updateTime=now(),
            haruMarket_user_updateUserIndex=${haruMarket_user_index}
        <where>
            haruMarket_user_index=${haruMarket_user_index}
        </where>
    </update>
    <update id="change2" parameterType="java.util.HashMap">
        update harumarket_user set
            haruMarket_user_pw=#{haruMarket_user_pw}
        <where>
            haruMarket_user_index=${haruMarket_user_index}
        </where>
    </update>

    <!-- BuyDao -->
    <select id="information_find" parameterType="int" resultType="java.util.HashMap">
        select
            t1.haruMarket_user_name
        ,   t1.haruMarket_user_postCode
        ,   t1.haruMarket_user_basicAddress
        ,   t1.haruMarket_user_detailAddress
        from    harumarket_user t1
        <where>
            t1.haruMarket_user_index=${haruMarket_user_index}
        </where>
    </select>

    <select id="product_information_view" parameterType="java.util.Map" resultType="java.util.Map">
        select
            t1.harumarket_product_index
        ,   t1.harumarket_product_name
        ,   (t1.harumarket_product_salePrice*${harumarket_product_count}) harumarket_product_salePrice
        ,   t1.harumarket_product_picture
        ,   (select harumarket_productColor_name from harumarket_productcolor where harumarket_productColor_index=${harumarket_productColor_index}) harumarket_productColor_name
        ,   (select harumarket_productSize_name from harumarket_productsize where harumarket_productSize_index=${harumarket_productSize_index}) haruMarket_productCategory_name
        from    harumarket_product t1
        <where>
            t1.harumarket_product_index=${harumarket_product_index};
        </where>
    </select>

    <select id="product_buy_try1" parameterType="java.util.Map" resultType="int">
        select
                (t1.harumarket_product_salePrice*${harumarket_product_count}) harumarket_product_salePrice
        from    harumarket_product t1
        <where>
            t1.harumarket_product_index=${harumarket_product_index};
        </where>
    </select>

    <select id="product_buy_try2" parameterType="int" resultType="String">
        select
            t1.haruMarket_user_phone
        from    harumarket_user t1
        <where>
            t1.haruMarket_user_index=${haruMarket_user_index};
        </where>
    </select>

    <insert id="product_buy_master" parameterType="java.util.Map">
        insert into harumarket_buymaster(
        haruMarket_user_index,
        haruMarket_BuyMaster_order,
        haruMarket_BuyMaster_buyerName,
        haruMarket_BuyMaster_buyerPostcode,
        haruMarket_BuyMaster_buyerAddr,
        haruMarket_BuyMaster_buyerMethod,
        haruMarket_BuyMaster_status,
        haruMarket_BuyMaster_amount)
        values(
        ${haruMarket_user_index},
        #{haruMarket_BuyMaster_order},
        #{haruMarket_BuyMaster_buyerName},
        #{haruMarket_BuyMaster_buyerPostcode},
        #{haruMarket_BuyMaster_buyerAddr},
        #{haruMarket_BuyMaster_buyerMethod},
        #{haruMarket_BuyMaster_status},
        ${haruMarket_BuyMaster_amount})
    </insert>

    <insert id="product_buy_detail" parameterType="java.util.Map">
        insert into harumarket_buydetail(
        haruMarket_user_index,
        harumarket_product_index,
        harumarket_productColor_index,
        harumarket_productSize_index,
        harumarket_buyDetail_account,
        haruMarket_BuyMaster_order,
        harumarket_buyDetail_amount)
        values(
        ${haruMarket_user_index},
        ${harumarket_product_index},
        ${harumarket_productColor_index},
        ${harumarket_productSize_index},
        ${harumarket_product_count},
        #{haruMarket_BuyMaster_order},
        ${harumarket_buyDetail_amount})
    </insert>

    <select id="harumarket_product_salePrice" parameterType="int" resultType="int">
        select harumarket_product_salePrice from harumarket_product where harumarket_product_index=${harumarket_product_index};
    </select>

    <delete id="userBasket_delete" parameterType="int">
        delete from harumarket_userbasket where harumarket_userBasket_index=${harumarket_userBasket_index};
    </delete>

    <!-- OrderDao -->
    <select id="order_select" parameterType="int" resultType="java.util.Map">
        select
        t1.harumarket_buyDetail_index
        ,   t2.harumarket_product_index
        ,	t2.harumarket_product_picture
        ,	t2.harumarket_product_name
        ,	t1.harumarket_productColor_index
        ,	(select harumarket_productColor_name from harumarket_productcolor where harumarket_productColor_index=t1.harumarket_productColor_index) harumarket_productColor_name
        ,	t1.harumarket_productSize_index
        ,	(select harumarket_productSize_name from harumarket_productsize where harumarket_productSize_index=t1.harumarket_productSize_index) harumarket_productSize_name
        ,	t1.harumarket_buyDetail_account
        ,	t1.harumarket_buyDetail_amount harumarket_product_salePrice
        ,   (select haruMarket_BuyMaster_buyerName from harumarket_buymaster where haruMarket_BuyMaster_order=t1.haruMarket_BuyMaster_order) haruMarket_BuyMaster_buyerName
        ,   (select haruMarket_BuyMaster_buyerPostcode from harumarket_buymaster where haruMarket_BuyMaster_order=t1.haruMarket_BuyMaster_order) haruMarket_BuyMaster_buyerPostcode
        ,   (select haruMarket_BuyMaster_buyerAddr from harumarket_buymaster where haruMarket_BuyMaster_order=t1.haruMarket_BuyMaster_order) haruMarket_BuyMaster_buyerAddr
        ,   (select haruMarket_BuyMaster_buyerMethod from harumarket_buymaster where haruMarket_BuyMaster_order=t1.haruMarket_BuyMaster_order) haruMarket_BuyMaster_buyerMethod
        ,   (select haruMarket_BuyMaster_status from harumarket_buymaster where haruMarket_BuyMaster_order=t1.haruMarket_BuyMaster_order) haruMarket_BuyMaster_status
        ,   (select haruMarket_BuyMaster_insertTime from harumarket_buymaster where haruMarket_BuyMaster_order=t1.haruMarket_BuyMaster_order) haruMarket_BuyMaster_insertTime
        from    harumarket_buydetail t1
        inner join	harumarket_product t2 on t1.harumarket_product_index = t2.harumarket_product_index
        <where>
            t1.haruMarket_user_index = ${haruMarket_user_index};
        </where>
    </select>
</mapper>